body{
    background-color: rgb(77, 35, 38);
    color: white;
    font-family: 'Arial Black', Courier, monospace;
    background-image: url(F1-uj-logo.jpg);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 100px; 
}

.Ferrari{
    color: red;
    list-style-image:url(ferrari-logo.jpg)
}

.Mercedes{
    color: slategrey;
    list-style-image: url(mercedes-logo.jpg);
}

.RedBull{
    color: blue;
    list-style-image: url(Red-Bull-Racing-Logo.png);
} 

.Racing{
    color: pink;
    list-style-image: url(Racing-point.png);
}

.McLaren{
    color: orange;
    list-style-image: url(Mclaren-logo.png);
}

.Haas{
    color: rgb(214, 228, 236);
    list-style-image: url(Haas-logo.jpg);
}

.Williams{
    color: rgb(0, 210, 255);
    list-style-image: url(williams-logo.png);
}

.Renault{
    color: rgb(150, 148, 19);
    list-style-image: url(renault-logo.png);
}

.AlphaTauri{
    color: darkblue;
    list-style-image: url(alpha-logo.jpg);
}

.Alfa{
    color: darkred;
    list-style-image: url(alfa-logo.jpg);
}

.table1 tr:nth-child(2) {
    background-color: gold;
}

.table1 tr:nth-child(3) {
    background-color: silver;
}

.table1 tr:nth-child(4) {
    background-color: indianred;
}

h1{
    font-style: italic;
    margin-bottom: 75px;
    text-align: center;
}

p{
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;
}

table,.table1,p,h3,li,h2{
    margin-left: 100px;
}


.hivatkozas{
    color: rgb(0, 210, 255);
}

h2,h3{
    font-style: italic;
}

#igazitas{
    text-align: center;
}

.auto{
   float: right;
   width: 600px;
   height: 300px;
}

#auto71{
    float: left;
    height: 600px;
    width: 255px;
    margin-left: 100px;
}

.evo{
    float: right;
}

.drivers{
    float: right;
}

#podium{
    float: right;
}

#cars{
    margin-left: 100px;
}